#cart-logo {
  width: 39px;
  margin-left: 21px;
  cursor: pointer;
}
#quantity {
  border: 1px solid #50376d;
  background-color: #50376d;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  position: absolute;
  font-size: 10px;
  left: 98%;
  margin-top: -39px;
  cursor: pointer;
}

h4 {
  border-bottom: 4px double rgb(149, 141, 84);
}
.prd-title {
  font-size: 15px;
}

.cart-details {
  max-width: 540px;
  max-height: 66px;
}
.summary-details {
  width: 300px;
  height: 120px;
}
.img-fluid {
  width: 84px;
  height: 66px !important;
  /* object-fit: cover; */
}
.cart-title {
  /* margin-left: 60px;
  text-align: center; */
}
.cart-summary {
  margin-left: 150px;
}

td {
  padding: 3px;
}
.summary-details {
  margin-left: 50px;
}
#product-details {
  border: 2px solid linear-gradient(to bottom, #c5e1ef, #fff);
  padding: 15px;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border-radius: 3px;
}
.btn-checkout {
  margin: 0 auto;
}

/* Footer section */
.footer {
  color: #fff;
  font-size: 14px;
  background: linear-gradient(to right, #2b2a2b, #2b2a2b);
  margin-top: 150px;
  position: relative;
}
.copyright {
  background: linear-gradient(to right, #2b2a2b, #2b2a2b);
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 18px;
}
