/* electronics page css changes */
.flex-shrink-0 {
  width: 280px;
}
.text-body-secondary .checked {
  color: orange;
}
.card-body .description {
  font-size: 12px;
  color: #111c97;
}
.card-body .discount {
  font-size: 15px;
  color: #111c97;
}
.card-body .offer {
  font-size: 9px;
}
#electronics-card {
  margin-left: 100px;
}
